/* app.css */

body {
  padding-top: 20px;
}

.heroes {
  list-style: none;
  max-height: 500px;
  overflow-y: auto;
}

.abilityTable {
  border: 1px solid black;
  table-layout: fixed;
  width: 70%;
}

.abilityCell {
  border: 1px solid black;
  overflow: hidden;
}

.abilityIcon {
  border: 1px solid black;
  width: 64px;
}

.itemPanel{
  width:auto;
  position: relative;
}

.itemcat{
  display:inline-block;
  vertical-align: top;
  width: 55px;
}

.itemcatIcon{
  padding-bottom: 5px;
}

.selected {
	background-color: #0044cc;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}
