<!-- edit-hero-detail.html -->
<div>
	<span>View for editing Hero {{hero.localized_name}}</span>
</div>
<div>
	<span>Item Loadout</span>
	<ul>
		<li>Consumables</li>
		<li>Core</li>
		<li>Extension</li>
		<li>Luxury</li>
	</ul>
	
</div>
<div>
	<span>Ability Build</span>
	<div>
		<div ng-repeat="abilityIdx in range(abilityNumber) track by $index">
			<span>{{abilities[hero.abilities[$index]].dname}}</span>
			<table class="abilityTable">
				<tbody>
					<tr>
						<td class="abilityIcon" align="center">img</td>
						<td ng-repeat="levelIdx in range(levelNumber) track by $index" ng-click="selected = !selected" ng-class="{'selected': selected}" id="a{{$parent.$index+1}}lv{{$index+1}}" class = "abilityCell">{{$index+1}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-hide="heroIdx == invokerHeroIdx"> <!--not available for Invoker (heroIdx 72)-->
			<span>Attribute Bonus</span>
			<table class="abilityTable">
				<tbody>
					<tr>
						<td class="abilityIcon" align="center">img</td>
						<td ng-repeat="levelIdx in range(levelNumber) track by $index" ng-click="selected = !selected" ng-class="{'selected': selected}" id="a5lv{{$index+1}}" class = "abilityCell">{{$index+1}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div>
	<span>Role/Hero Type</span>
</div>
<div>
	<span>Laning Info</span>
</div>
