<!-- edit-hero-list.html -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <!-- search sidebar -->
      <div class="form-group">
        <div>
          Search: <input ng-model="heroQuery" placeholder="Search Hero">
        </div>
      </div>

      <ul class="myList list-group">
        <li class="list-group-item" ng-repeat="hero in heroes | filter:heroQuery | orderBy:orderHero">
          <a href="#/edit/{{heroes.indexOf(hero)}}"><span style="color:#000000">{{hero.localized_name}}</span></a>
        </li>
      </ul>
      <div>
        <span ng-show="(heroes | filter:heroQuery).length == 0">No Results</span>
      </div>

    </div>
    <div class="col-md-9">
      <!--edit-hero-detail body content-->
      <div ng-hide="heroIdx != null">Select the hero you want to edit from the list on the left side</div>
      <div ng-hide="heroIdx == null"><div ng-include="'partials/edit-hero-detail.html'"></div></div>
    </div>
  </div>
</div>